---
---

<section class="p-marquee">
  <div class="p-marquee__track">
    <!-- First set -->
    <div class="p-marquee__item"><img src="/images/marquee-1.svg" alt="иҫІең’йўЁжҷҜ" loading="lazy" /></div>
    <div class="p-marquee__item"><img src="/images/marquee-2.svg" alt="иҫІең’йўЁжҷҜ" loading="lazy" /></div>
    <div class="p-marquee__item"><img src="/images/marquee-3.svg" alt="иҫІең’йўЁжҷҜ" loading="lazy" /></div>
    <div class="p-marquee__item"><img src="/images/marquee-4.svg" alt="иҫІең’йўЁжҷҜ" loading="lazy" /></div>
    <div class="p-marquee__item"><img src="/images/marquee-5.svg" alt="иҫІең’йўЁжҷҜ" loading="lazy" /></div>
    <div class="p-marquee__item"><img src="/images/marquee-6.svg" alt="иҫІең’йўЁжҷҜ" loading="lazy" /></div>
    <!-- Duplicate set for seamless loop -->
    <div class="p-marquee__item"><img src="/images/marquee-1.svg" alt="иҫІең’йўЁжҷҜ" loading="lazy" /></div>
    <div class="p-marquee__item"><img src="/images/marquee-2.svg" alt="иҫІең’йўЁжҷҜ" loading="lazy" /></div>
    <div class="p-marquee__item"><img src="/images/marquee-3.svg" alt="иҫІең’йўЁжҷҜ" loading="lazy" /></div>
    <div class="p-marquee__item"><img src="/images/marquee-4.svg" alt="иҫІең’йўЁжҷҜ" loading="lazy" /></div>
    <div class="p-marquee__item"><img src="/images/marquee-5.svg" alt="иҫІең’йўЁжҷҜ" loading="lazy" /></div>
    <div class="p-marquee__item"><img src="/images/marquee-6.svg" alt="иҫІең’йўЁжҷҜ" loading="lazy" /></div>
  </div>
</section>
